#button1, #button2, #button3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: black;
    color: white;
    border-radius: 1px;
    border: 3px solid;
    border-color: rgb(0, 0, 0);
    justify-content: space-between;
    
}
#button2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: black;
    color: white;
    border-radius: 1px;
    border: 3px solid;
    border-color: rgb(0, 0, 0);
      
     justify-content: space-between;
}
#button3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    background-color: black;
    color: white;
    border-radius: 1px;
    border: 3px solid;
    border-color: rgb(0, 0, 0);
  
    justify-content: space-between;
}
